<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">
        About Us
    </h2>
    <p class="text-zinc-300 text-2xl">
        We are a group of students from the University who are passionate about cybersecurity. We believe that everyone should be able to protect their online accounts from unauthorized access. We are dedicated to providing a secure and easy-to-use password manager that will help you keep your passwords safe.
    </p>
</section>