<footer class="bg-zinc-900 mx-auto py-10 mt-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left">
    <div>
      <h4 class="fond-bold text-xl">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Pricing</a>
    </div>
    <div>
      <h4 class="fond-bold text-xl">Site Map</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>
    <div>
      <h4 class="fond-bold text-xl">Social Links</h4>
      <a href="https://www.facebook.com">Facebook</a>
      <a href="https://www.twitter.com">Twitter</a>
      <a href="https://www.instagram.com">Instagram</a>
      <a href="https://www.tiktok.com">TikTok</a>
    </div>
  </div>
</footer>
